<!DOCTYPE html>
<html>
<head>
	<title>Operation Result</title>
</head>
<body>
	<h1>Operation Result</h1>
	<p>It will cost you <span style="color:blue;">$<%= result %></span> to ship a <span style="color:blue;"><%= type %></span> that weighs <span style="color:blue;"><%= weight%></span> via USPS priority mail.</p>
</body>
</html>
